.gallery {
  text-align: center;
}

.pictures {
  align-content: center;
  position: relative;
  height: 500px;
}

.pictures img {
  max-height: 500px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: opacity 1000ms;
  position: absolute;
}

.gallery-button {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: darkblue;
  border-radius: 0;
  margin: 0 2px 0 2px;
  outline: none;
}

.gallery-button-disabled {
  background-color: #e0f4f7;
}

.title {
  font-size: 2.5rem;
  padding-bottom: 20px;
}
